<!DOCTYPE html>

<h2>Kevin Davis</h2>
<h3>OIT senior project home page</h3></br

<h4>Here will be access to a list of uploaded projects, and provisions for sorting the projects, as well as login/signup.</h4><br>
<%= link_to 'Forum', documents_path, class: "btn btn-warning" %> | 
<%= link_to 'Projects', projects_path, class: "btn btn-info"%>
